<div id="content" fxLayoutGap="10px">
    <div *ngFor="let recipe of recipeList" class="col s12 m3">
        <div class="card blue-grey">
            <div class="card-content white-text yaml">
                <span class="card-title">{{recipe.name}}</span>
                <p>{{recipe.description}}</p>
            </div>
            <div class="card-action">
                <a href="/recipes/{{recipe.name}}">Edit</a>
                <a href="#">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card blue-grey">
            <div class="card-content white-text yamlnew">
                <span class="card-title">Add new</span>
                <p>Add new recipe</p>
            </div>
            <div class="card-action">
                <a href="/recipes/new">Create new</a>
            </div>
        </div>
    </div>
</div>
