<div id="content">
    <mat-form-field>
    <input matInput placeholder="Recipe Name" [(ngModel)]="recipeName">
</mat-form-field>
<br/>
<mat-form-field>
    <input matInput placeholder="Recipe Description" [(ngModel)]="recipeDescription">
</mat-form-field>
<br/>
<br/>
<div>
<button mat-raised-button color="primary" (click)="saveRecipe()">Save</button>
<button mat-raised-button (click)="closeRecipe()">Close</button>
<button mat-raised-button (click)="clearAll()">Clear Storage</button>
<button mat-raised-button (click)="listAll()">List Storage</button>
</div>
<br/>
<div ace-editor [(text)]="recipeTemplate" [mode]="'yamlx'" [theme]="'monokai'" [options]="aceOptions" [readOnly]="false"
    [autoUpdateContent]="true" [durationBeforeCallback]="1000" style="min-height: 180px; width:100%; overflow: auto;"></div>
</div>