@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

#content {
  padding: 20px 5px;
}

mat-card {
  margin-bottom: 20px;
}

mat-card-actions {
  border-top: 1px solid #ffda91;
}

.mat-form-field {
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  
  margin-right: 1px;
}

.mat-card {
  background-color: #f8bb38;
}

mat-expansion-panel.log {
  margin-bottom: 10px;
}

.result  {
  background-color: #c5fd5d;
  
}

.error {
  background-color: #ffc7c7;

}

.fail {
  color: red;
  margin-right: 15px;
}

.success {
  color: #0daf0d;
  margin-right: 15px;
}

mat-icon.toolbar {
  margin-right: 15px;
}

mat-icon.account {
  margin-right: 0px;
}

.toolbarstatus {
  font-size: 16px;
  /* font-weight: bold; */
  color: #b8abdd;
}

.spacer {
  flex: 1 1 auto;
}


button.toolbar {
  font-size: 18px;
  /* font-weight: bold; */
}

mat-icon {
  margin-right: 15px;
}





.aceEditorDirective {
  margin-top: 50px;
  min-height: 200px;
  width: 100%;
  overflow: auto;
}

.monospace {
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace !important;
  font-size: 12pt;
}

textarea.monospace {
  height: auto;
}

