<div id="content">
    <mat-form-field>
        <mat-select id="blueprints" [(ngModel)]="blueprintName" (change)="onBlueprintChange()" placeholder="Select a blueprint">
            <mat-option *ngFor="let blueprint of blueprintList" [value]="blueprint.name">{{blueprint.name}}: {{blueprint.description}}</mat-option>
        </mat-select>
    </mat-form-field>



    <div class="form" *ngIf="form">
        <mat-slide-toggle [(ngModel)]="isBulk" color="accent">Bulk</mat-slide-toggle>
        <form (ngSubmit)="onSubmit()" [formGroup]="form" fxLayout="column">
            <div [hidden]="!isBulk">
                <mat-form-field >
                        <textarea matInput placeholder="Bulk CSV" class="monospace" [formControlName]="'bulk'" [id]="'bulk'" rows="5"></textarea>
                        <mat-hint align="begin">Paste a CSV file based on the headers shown</mat-hint>
                </mat-form-field>
                <br/>
                <br/>
            </div>
            

            <div [hidden]="isBulk">
                <mat-form-field *ngFor="let variable of blueprint.variables" >
                        <input matInput [formControlName]="variable.symbol" [id]="variable.symbol" placeholder="{{variable.symbol}}">
                        <mat-hint align="begin">{{variable.label}}</mat-hint>
                </mat-form-field>
                <br/>
            </div>
            <br/>
            <br/>

            <div [hidden]="isBulk">
                <div *ngFor="let dependency of blueprint.dependencies" class="form-row">
                     <mat-checkbox [formControlName]="dependency" [id]="dependency">{{dependency}}</mat-checkbox>
                </div>
            </div>
            <br/>
            <br/>

            <div class="form-row">
                <button mat-raised-button type="submit" color="primary">Upload</button>
            </div>
        </form>

    </div>

    <progress-log [hidden]="!progressStarted" [bulkProgress]="bulkProgress" [stepProgress]="stepProgress" [blueprint]="blueprint" [currentStep]="currentStep" [errors]="errors"
        [results]="results" color="accent"></progress-log>


</div>
