<div>
    <div *ngIf="recipe" class="operation">
        <h3>{{recipe.name}}</h3>
        <p>{{step}}</p>
        <mat-progress-bar mode="buffer" [value]="bulkProgress" [bufferValue]="stepProgress"></mat-progress-bar>
    </div>
    <br />
    <br />
    <div class="errors">
        <div *ngFor="let error of errors">
            <mat-card class="log errors">
                <mat-card-title>
                    <i class="material-icons red-font">error</i>  {{error.operation}}
                </mat-card-title>
                <mat-card-subtitle>{{error.message}}</mat-card-subtitle>
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header collapsedHeight="24px" expandedHeight="32px">
                        <mat-panel-title>
                            Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card-content>{{error.payload}}</mat-card-content>
                </mat-expansion-panel>

            </mat-card>
        </div>
    </div>
    <div class="results">
        <div *ngFor="let result of results">
            <mat-card class="log results">
                <mat-card-title>
                        <i class="material-icons green-font">check_circle</i>  {{result.operation}}
                    </mat-card-title>
                <mat-card-subtitle>{{result.message}}</mat-card-subtitle>
                <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header collapsedHeight="24px" expandedHeight="32px">
                            <mat-panel-title>
                                Details
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-card-content>{{result.payload}}</mat-card-content>
                    </mat-expansion-panel>
            </mat-card>
        </div>
    </div>
</div>