<div>
    <div *ngIf="recipe" class="operation">
        <h3>{{recipe.name}}</h3>
        <p>{{currentStep}}</p>
        <mat-progress-bar mode="buffer" [value]="bulkProgress" [bufferValue]="stepProgress"></mat-progress-bar>
    </div>
    <br />
    <br />
    <div class="errors">
        <div *ngFor="let error of errors">
            <mat-expansion-panel class="error log">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="fail">error</mat-icon>
                        {{error.operation}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{error.message}}
                    </mat-panel-description>
                    
                </mat-expansion-panel-header>
                {{error.payload}}
            </mat-expansion-panel>
        </div>
    </div>
    <div class="results">
        <div *ngFor="let result of results">
                <mat-expansion-panel class="result log">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon class="success">check_circle</mat-icon>
                                {{result.operation}}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{result.message}}
                            </mat-panel-description>
                            
                        </mat-expansion-panel-header>
                        {{result.payload}}
                    </mat-expansion-panel>
        </div>
    </div>
</div>